.header {
  margin-top: 40px;
  position: relative;
  display: flex;

  &-btn {
    position: relative;
    border: none;
    border-radius: 8px;
    bottom: 0;
    color: #fff;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 16px;
    height: 45px;
    width: 130px;
    z-index: 2;
    background-color: #1a8754;
  }
}